/* h1 
{
    text-align: center;
    padding: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 label
{
    color:border; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 110%;
    border: width-10px;
    /* box-sizing: 50px; */
    /* text-align-last: left;
}
input
{
    color:maroon;
}
button
{
    font-size: 75%;
    color: maroon;
    border: 40px;
}
div{
    text-align: center;
    /* color:border; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 110%;
    border: width-10px;
    text-align: center;
    box-sizing: 50px; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'monsterrat',sans-serif;
}
body{
    background: 0 10px;
    padding: 0 10px;
}
.wrapper{
    max-width: 500px;
    width: 100%;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
}
.wrapper .title{
    font-size: 24px;
    font-weight: 100%;
    margin-bottom:25px;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form{
    width: 100%;
}
.wrapper .form .input_field{
    margin-bottom:25px;
    display: flex;
    align-items: center;    
}
.wrapper .form .input_field label{
    width: 200px;
    margin-right: 10px;
    font-size: 14px; 
}
.wrapper .form .input_field .input{
    width: 100%;
    outline: none;
    border: 1px solid black;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
}
.wrapper .form .input_field .textarea{
    resize: none;
    height: 125px;
}